*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace

.env
.idea/
.sass-cache/
.stencil/
.versions/
.vscode/

log.txt
Thumbs.db
UserInterfaceState.xcuserstate

$RECYCLE.BIN/